{
  "id_module": "f0779b7e-fc77-43c2-a92b-9a7c517984bf",
  "module_display_name": "User Management",
  "permissions":
  [
    {
      "id_permission": "1470637e-741d-4606-83d4-0b2cde2a9797",
      "permission_display_name": "Edit Prefixes",
      "permission_description": "Add, Edit or Delete Prefixes"

    },
    {
      "id_permission": "80f23458-ef93-4314-be2c-272f53980d23",
      "permission_display_name": "Edit Suffixes",
      "permission_description": "Add, Edit or Delete Suffixes"

    },
    {
      "id_permission": "c076c202-3826-4ef0-8e0c-c0a36ca7a04a",
      "permission_display_name": "Add User",
      "permission_description": "Add a New User"

    },
    {
      "id_permission": "9a876ea0-dc38-485c-9d0f-059a06e30e08",
      "permission_display_name": "Edit User",
      "permission_description": "Edit Existing User"

    },
    {
      "id_permission": "bd4aebf2-b06f-4d07-8ba4-ab3688de938f",
      "permission_display_name": "Reset User Password",
      "permission_description": "Reset a User's Password"

    },
    {
      "id_permission": "6049de4d-d720-44e7-9762-0d34deebc0c1",
      "permission_display_name": "Enable/Disable User",
      "permission_description": "Enable or Disable a User's Account"

    }
  ]
}